
/*
colors #444546

*/
/*
body {
  height: 2000px;
} */

html{
  font-family: 'Lucida Console', Monospace;
  
}
body {
  background:url('https://raw.githubusercontent.com/doaaabdelhadi/doaaabdelhadi.github.io/master/img/bc4.jpg?token=AHFH2OWWLLWGE4SYCAMP2MS7CXLII') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.intro h1{
  color: black;
  text-align: center;
  

}
.intro p{
  color:black;
  font-size: 22px;
  text-align: center;
  

}
.intro i{
  font-size: 1em;
  color: slategrey;

  /* padding: 10px; */

}
.intro .skills {
  color: slategrey;
  /* font-style: italic; */
}
.intro .K_word{
  text-decoration: underline;
}


.icons-social{
  text-align: center;
}

.icons-social i{
  font-size: 2em;
  padding: 10px;
  color:aliceblue;
  
}
.icons-social a{
  color:aliceblue;
  
}
/* .navbar-brand span{
  font-size: 22px;
}

.navbar-brand span:first-child {
  font-weight: bold;
  color: orange;
}
.navbar-brand span:last-child{
  color:skyblue;
}


.navbar-light .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #7eabff;
  font-size: 15px;
  margin-left:15px;
  font-weight: 500;
}
.navbar-light .navbar-nav .active>.nav-link {
  color:  #7eabff !important;
}
.blog{
  padding: 70px;;
}

.post{
  padding: 70px;;
} */
